{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    {% block styles %}
    {% endblock styles %}
    <!--    <link href="{% static 'event/css/style.css' %}" rel="stylesheet" type="text/css">-->
    <!--    <link href="{% static 'event/css/formstyle.css' %}" rel="stylesheet" type="text/css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link href="{% static 'event/css/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <title>Work & Learn</title>
    {% block imports %}
    {% endblock imports %}
</head>
{% block bodyclass %}
<body class="main-color">
{% endblock bodyclass %}
{% block navbar %}
<div class="header">
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand refer" href="{% url 'home' %}" style="color:white">
                        <img src="{% static 'event/images/logo.svg' %}" width="56" height="42"
                             class="d-inline-block align-text-top">
                        Work & Learn
                    </a>
                </div>
            </nav>

            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link refer nav-item" href="{% url 'organizer_account' %}" style="color:white">Организаторам</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link refer nav-item" href="{% url 'contacts' %}"
                               style="color:white">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link refer nav-item" href="{% url 'about' %}" style="color:white">О нас</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <nav class="navbar navbar-light">
                            {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link refer nav-item" href="{% url 'personal_account' %}" style="color:white">{{user.username}}</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                            <a class="nav-link refer nav-item" href="{% url 'login' %}" style="color:white">Войти</a>
                            </li>
                            {% endif %}
                        </nav>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<br><br>
{% endblock navbar%}

{% block content%}
{% endblock content%}

<!--{% block footer %}-->
<!--<footer>-->
<!--    <div class="footer-menu container">-->
<!--        <div>-->
<!--            <a class="footer-link" href="#" style="font-size: 20px;">Обратиться в тех. поддержку</a>-->
<!--            <p style="font-size: 20px;">Наш адрес:<br>г. Санкт-Петербург, ул. Чайковского, 43</p>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--            <a class="footer-link" href="#" style="font-size: 20px;">Для организаторов</a>-->
<!--        </div>-->
<!--        <a class="footer-link" href="#" style="font-size: 20px;">Для сотрудников</a>-->
<!--    </div>-->
<!--</footer>-->
<!--{% endblock footer%}-->

</body>
</html>