{% extends 'event/base.html' %}
{% load static %}

{% block imports %}
    <link href="{% static 'event/css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock imports %}

{% block bodyclass %}
<body class="other-pages">
{% endblock bodyclass %}
{% block content %}
<div class="container">
    <h2 class="default-text2" style="font-weight: 700; margin: 30px 0px;">Контакты</h2>
    <div>
        <p class="default-text2"  style="font-size: 22px; font-weight: 550;">
            Как добраться?
        </p>
        <p class="default-text2"  style="font-size: 20px; font-weight: 500;">
            Мы находимся по адресу: г. Санкт-Петербург, ул. Чайковского, 43. Ближайшая станция метро - Чернышевская.
            На карте ниже показано, как дойти до молодёжного пространства от метро:
        </p>
    </div>

    <div>
        <img src="{% static 'event/images/map.jpg' %}" width="880" style="margin-left: auto; margin-right: auto; display: block;">
    </div>

    <div style="margin: 45px 0px;">
        <div class="row">
            <div class="col-lg-3">
                <p class="default-text2" style="font-size: 20px; font-weight: 550;">Контактный телефон</p>
                <p class="default-text2" style="font-size: 20px; font-weight: 550;">Режим работы</p>
                <p class="default-text2" style="font-size: 20px; font-weight: 550;">Почта тех. поддержки</p>
            </div>

            <div class="col-lg-3">
                <p class="default-text2" style="font-size: 20px; font-weight: 500;">8 (812) 987-45-45</p>
                <p class="default-text2" style="font-size: 20px; font-weight: 500;">11:00 - 20:00</p>
                <p class="default-text2" style="font-size: 20px; font-weight: 500;">worklearnhelp@gmail.com</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


