<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<link href="/coworking/event/static/event/css/formstyle.css" rel="stylesheet" type="text/css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
	<title> Work & Learn </title>
</head>

<body>
	<div>
		<nav class="navbar navbar-expand-sm navbar-light main-color">
			<div class="container">

				<div class="container-fluid nav-brand">
					<a class="navbar-brand" href="#">
						<img src="/coworking/event/static/event/images/logo.svg" width="56" height="42" class="d-inline-block"> Work & Learn
					</a>
				</div>


				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" href="#">Организаторам</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Контакты</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">О нас</a>
							</li>
							<nav class="navbar navbar-light nav-lk">
								<a href="#"></a>
							</nav>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div><br><br>

			<form class="reg_form" method="post" action="reg.html">
				<h2 class="form-title">Регистрация</h2>
				<div>
					<label for="inputname" class="forms-label">Имя</label>
					<input type="name" class="forms-control" id="inputname">
				</div>
				<div>
					<label for="inputsurname" class="forms-label">Фамилия</label>
					<input type="surname" class="forms-control" id="inputsurname">
				</div>

				<label for="gender" class="forms-label">Пол</label>
				<div class="radio form-check-inline">
					<input class="radio-input" type="radio" name="gender" id="radiom">
					<label class="radio-label" for="radiom">М</label>
				</div>
				<div class="radio form-check-inline">
					<input class="radio-input" type="radio" name="gender" id="radiof">
					<label class="radio-label" for="radiof">Ж</label>
				</div>

				<div>
					<label for="inputdate" class="forms-label">Дата рождения</label>
					<input type="datetext" class="forms-control" id="inputdate">
				</div>
				<div>
					<label for="inputemail" class="forms-label">E-mail</label>
					<input type="email" class="forms-control" id="inputemail">
				</div>
				<div>
					<label for="inputpassword" class="forms-label">Пароль</label>
					<input type="password" class="forms-control" id="inputpassword">
				</div>
				<div class="checkbox">
					<input class="checkbox-input" type="checkbox" id="checkbox1">
					<label class="checkbox-label" for="checkbox1"> Я согласен(на) на обработку персональных
					данных <br> и условия участия в проекте </label>
				</div>
				<div>
					<button type="submit" class="first-btn">Регистрация</button>
				</div>
			</form>


			<footer>
				<div class="footer-menu container">
					<div>
						<a class="footer-link" href="#">Обратиться в тех. поддержку</a>
						<p>Наш адрес:<br>г. Санкт-Петербург, ул. Чайковского, 43</p>
					</div>
					<div class="col-lg-3">
						<a class="footer-link" href="#">Для организаторов</a>
					</div>
					<a class="footer-link" href="#">Для сотрудников</a>
				</div>
			</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
	</body>
	


	</html>