{% extends 'event/base.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'event/css/formstyle.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block bodyclass %}
<body class="other-pages">
{% endblock bodyclass %}

{% block content %}
{{ form.errors }}
<form class="reg_form" method="post">
    {% csrf_token %}
    <h2 class="form-title">Регистрация</h2>
    <div>
        <label for="inputname" class="forms-label">{{ form.first_name.label }}</label>
        {{ form.first_name }}
        <!--					<input type="name" class="forms-control" id="inputname">-->
    </div>
    <div>
        <label for="inputsurname" class="forms-label">{{ form.last_name.label }}</label>
        {{ form.last_name }}
        <!--					<input type="surname" class="forms-control" id="inputsurname">-->
    </div>
	<div>
        <label for="inputname" class="forms-label">{{ form.username.label }}</label>
        {{ form.username }}
        <!--					<input type="name" class="forms-control" id="inputname">-->
    </div>

<!--    <div>-->
<!--        <label for="inputdate" class="forms-label">Дата рождения</label>-->
<!--        <input type="datetext" class="forms-control" id="inputdate">-->
<!--    </div>-->
    <div>
        <label for="inputemail" class="forms-label">{{ form.email.label }}</label>
        {{ form.email }}
        <!--					<input type="email" class="forms-control" id="inputemail">-->
    </div>
    <div>
        <label for="inputpassword" class="forms-label">{{ form.password1.label }}</label>
        {{ form.password1 }}
        <!--					<input type="password" class="forms-control" id="inputpassword">-->
    </div>
    <div>
        <label for="inputpassword" class="forms-label">{{ form.password2.label }}</label>
        {{ form.password2 }}
        <!--					<input type="password" class="forms-control" id="inputpassword">-->
    </div>
    <div>
        <button type="submit" class="first-btn">Регистрация</button>
    </div>
</form>
{% endblock content %}

{% block footer %}
{% endblock footer %}
