{% extends 'event/base.html' %}
{% load static %}



{% block styles %}
<link href="{% static 'event/css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}


{% block bodyclass %}
<body class="other-pages">
{% endblock bodyclass %}



{% block content %}
<div class="container">
    <h2 class="default-text2" style="font-weight: 700; margin:0 20px">Коворкинг</h2>
    <div>
            <div class="row">
                <div class="col-lg-7">
                        {% for cow_booked_sign in cow_booked %}
                                <div class="row coworking-card" style="margin: 20px 20px;">
                                    <div class="col-lg-7">
                                        <p class="default-text3" style="font-size: 22px; font-weight: 550; margin: 20px 30px;">Запись в коворкинг</p>
                                        <p class="default-text3" style="font-size: 20px; font-weight: 400; margin: 15px 30px;">{{ cow_booked_sign.date_time }}</p>
                                        <p class="default-text3" style="font-size: 20px; font-weight: 400; margin: 0px 30px;">Ваш ID: {{ cow_booked_sign.unique_num }}</p>
                                    </div>
                                    <div class="col-lg-5">
                                        <button class="registration-button default-text2 alignment-cent" style="margin: 105px 0px; width: 200px; height: 40px;">Отмена записи</button>
                                    </div>
                                </div>
                        {% endfor %}
                </div>
            </div>

        <div class="col-lg-5 category-bar">
            <a href="{% url 'coworking' %}" class="default-text choice-button" style="width: 400px; height: 50px; opacity: 1; font-size: 25px; font-weight: 550;margin:110px 0px">Записаться в коворкинг</a>
        </div>
    </div>

    <div style=" margin: 0px 0px; ">
        <h2 class="default-text2" style="font-weight: 700; margin:0 20px">Ваши мероприятия</h2>
        <p class="default-text2" style="font-weight: 500; font-size: 20px; margin:5px 20px">Вы зарегистрировались на эти мероприятия</p>
        <p class="default-text2" style="font-weight: 500; font-size: 20px; margin:5px 20px">Если вы не сможете прийти на какое-то из них, просим вас отменить запись </p>
    </div>

    <div style=" margin: 20px 0px;">
        <div class="row card-row">
                {% for event in events %}
                        <div class="col-lg-6 event-card" style="position: relative; width: 600px; margin-bottom: 15px">
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="{% static '/images/iconevents.jpg' %}" class="icon-events">
                                </div>
                                <div class="col-lg-8">
                                    <div style="position: absolute;  width: 300px; margin: 0px 40px;">
                                        <p class="default-text3" style="font-size: 22px; font-weight: 550; margin: 0px 0px;">{{ event.event.title }} </p>
                                        <p class="default-text3" style="font-size: 20px; font-weight: 400; margin: 0px 0px;">{{ event.event.date_time }} </p>
                                        <p class="default-text3" style="font-size: 20px; font-weight: 400; margin: 0px 0px;">Ваш ID: {{ event.unique_num }}</p>
                                        <a href="{% url 'signdown' %}?event={{ event.event.id }}" class="registration-button default-text2 alignment-cent" style="margin: 10px 0px; text-decoration: none;">Отмена регистрации</a>
<!--                                        <button class="registration-button default-text2 alignment-cent" style="margin: 10px 0px;">Отмена регистрации</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}


