{% extends 'event/base.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'event/css/formstyle.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block bodyclass %}
<body class="other-pages">
{% endblock bodyclass %}

{% block content %}
	<main>
				<form class="regcowork_form" method="post">
                    {% csrf_token %}
					{{ form.errors }}
					<h2 class="form-title">Регистрация в коворкинг</h2>
					<div>
						<label for="inputdate" class="forms-label">Дата</label>
						{{ form.date }}
<!--						<input type="datetext" class="forms-control" id="inputdate">-->
					</div>
					<label for="coworktime" class="forms-label">Диапазон времени</label><br>
						<div style="padding-left: 70px;">
							{% for radio in form.time %}
							<div class="radio form-check-inline">
								{{ radio.tag }}
								<label class="radio-label3" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
							</div>
						{% endfor %}
						</div>
					<div>
						<button type="submit" class="first-btn">Регистрация</button>
					</div>
				</form>
	</main>
{% endblock content %}

