{% extends 'event/base.html' %}
{% load static %}
{% load count_id_needed %}

{% block styles %}
<link href="{% static 'event/css/formstyle.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block bodyclass %}
<body>
{% endblock bodyclass %}

{% block content %}

<form class="regevent_form" method="post" action="regevent.html">
    <h2 class="form-title">Информация о мероприятии</h2>
    <div>
        <label for="inputtext" class="forms-label">Название мероприятия</label>
        <input type="text" class="forms-control" id="inputtext">
    </div>

    <label for="gender" class="forms-label">Тип мероприятия</label>
    <div class="radio form-check-inline">
        <input class="radio-input2" type="radio" name="eventtype" id="radiol">
        <label class="radio-label2" for="radiol">Лекция</label>
    </div>
    <div class="radio form-check-inline">
        <input class="radio-input2" type="radio" name="eventtype" id="radioc">
        <label class="radio-label2" for="radioc">Мастер-класс</label>
    </div>
    <div class="radio form-check-inline">
        <input class="radio-input2" type="radio" name="eventtype" id="radioh">
        <label class="radio-label2" for="radioh">Хакатон</label>
    </div>

    <div>
        <label for="inputtext" class="forms-label">ФИО выступающего, преподавателя или организатора</label>
        <input type="text" class="forms-control" id="inputtext">
    </div>
    <div>
        <label for="inputtext" class="forms-label">Основная информация о выступающем, преподавателе или
            организаторе</label>
        <div class="regeventinfo">
            <textarea name="text" cols="40" rows="100"></textarea>
        </div>
    </div>
    <div>
        <label for="inputtext" class="forms-label">Более подробная информация о мероприятии</label>
        <div class="more">
            <textarea name="text" cols="40" rows="100"></textarea>
        </div>
    </div>
    <div>
        <button type="submit" class="first-btn">Подать заявку</button>
    </div>
    <p style="font-style: normal; font-weight: 400; font-size: 18px; text-align: center; color: #0F0068;">
        Статус заявки можно отследить в личном кабинете<br>
        Если мероприятие одобрят, вам также придёт письмо на почту
    </p>
</form>

{% endblock content %}
