.main-color {
    background-color: #0F0068;
}

.nav-item {
    color: #FFFFFF;
    padding-right: 70px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.navbar-brand {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-right: 450px;
    padding-left: 15px;

}

.images {
    border-radius: 100px;
    opacity: 0.5;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.box {
    width: 415px;
    height: 342px;
    padding: 23px 110px;
}

.box p {
    margin: 36px 0px 0px 0px;
}

.box a {
    margin: 2px 0px 0px 285px;
    width: 130px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}

.butt1 {
    margin: 84px 0px 0px 57px;
    width: 300px;
    height: 60px;
    position: absolute;
    border: 0;

    color: #0F0068;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

    background-color: #FFFFFF;
    border-radius: 30px;
}

.butt2 {
    margin: 84px 0px 0px 15px;
    width: 385px;
    height: 60px;
    position: absolute;
    color: #0F0068;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26.82px;
    background-color: #FFFFFF;
    border-radius: 30px;
    border: 0;
}

.main-text {
    width: 415px;
    height: 65px;
    text-align: justify;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}

.default-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}

.alignment-cent {
    text-align: center;
}

.alignment-right {
    text-align: right;
}

.carousel-box {
    width: 1289px;
    height: 276px;
    margin: 28px 0px;
}

.box-1 {
    width: 269px;
    height: 44px;
    padding: 50px 0px;
}

.box-2 {

    padding: 64px 92px 0px 0px;
}

.carousel-images {
    opacity: 0.3;
}

.mycard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.box-2 a{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}

footer{
	position: absolute;
	color: #FFFFFF;
    width: 100%;
    background: #02051F;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-menu{
	position: fixed;
	background-color: #02051F;
	position: relative;
	flex-wrap: wrap;
	display: flex;
	padding-left: 180px;
}

.footer-item{
	color: #FFFFFF;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	margin-right: 200px;
	display: block;
	padding-top: 20px;
}

.footer-link {
	text-decoration: none;
}

.footer-info{
	display: block;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	padding-left: 180px;
	background-color: #02051F;
}
